.container{
  display: flex;
    position: relative;
    width: 400px;
    height: 823px;
    margin: auto;
}
h1{
  position: absolute;
  left: 150.5px;
  top: 90px;
  color: #3083FF;
  font-family: Lobster;
}
#Email{
  position: absolute;
    width: 315px;
    height: 48px;
    left: 42.5px;
    top: 220px;
    background: #f2f5fa;
    border-radius: 3px;
    font-size: 16px;
    color: #a6acc3;
    border-width: 0;
    padding-left: 16px;
}
#Password{
  position: absolute;
    width: 315px;
    height: 48px;
    left: 42.5px;
    top: 284px;
    background: #f2f5fa;
    border-radius: 3px;
    font-size: 16px;
    color: #a6acc3;
    border-width: 0;
    padding-left: 16px;
}
.Signin{
  position: absolute;
    width: 315px;
    height: 48px;
    left: 50px;
    top: 412px;
    background: linear-gradient(90deg, #59a1ff 19.89%, #3d67f2 100%);
    border-radius: 3px;
    color: #ffffff;
    border-width: 0;
}